@import "tailwindcss";

:root {
    /* Base spacing */
    --padding-btn: clamp(0.25rem, -0.423rem + 2.692vw, 2rem);

    /* Border radius */
    --radius-btn: 20px;

    /* Colores principales */
    --color-primary: #6200ea;
    --color-primary-light: #bb86fc;
    --color-primary-dark: #3700b3;

    --color-secondary: #03dac6;
    --color-secondary-light: #70efde;
    --color-secondary-dark: #018786;
}
