@import "tailwindcss";

:root {
    /* Base spacing */
    --padding-btn: clamp(0.25rem, -0.423rem + 2.692vw, 2rem);

    /* Border radius */
    --radius-btn: 20px;

    /* Colores principales */
    --color-primary: #6200ea;
    --color-primary-light: #bb86fc;
    --color-primary-dark: #3700b3;

    --color-secondary: #03dac6;
    --color-secondary-light: #70efde;
    --color-secondary-dark: #018786;
}

/* @theme {
    --spacing-btn: clamp(0.25rem, -0.423rem + 2.692vw, 2rem);

    --radius-btn: 0;

    --color-primary: #6a040f;
    --color-primary-light: #dc2f02;
    --color-primary-dark: #faa307;

    --color-secondary: #1c2541;
    --color-secondary-light: #5bc0be;
    --color-secondary-dark: #6fffe9;
} */

@layer base {
    .theme-tailwind {
        --color-primary: theme(colors.blue.500);
        --radius-btn: theme(borderRadius.lg);
        --spacing-btn: theme(spacing.4);
    }
}
